---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading" style="padding: 130px 0;">
            <h1>{{ page.title}}</h1>
            <h2>Category</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{ page.description }}</p>
          {% assign category = page.category | default: page.title %}
          {% for post in site.categories[category] %}
          <hr>
          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
              <h5 class="post-subtitle">{{ post.subtitle }}</h5>
              {% endif %}
            </a>
            <p class="post-meta">Posted by
              {% if post.author %}
              {{ post.author }}
              {% else %}
              {{ site.author }}
              {% endif %}
              on {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
            </p>
          </article>
          {% endfor %}
      </div>
    </div>
  </div>
